*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

/*        SCROLLBAR        */
/* width */
::-webkit-scrollbar {
  width: 10px; }

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; }

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; }

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; }

body {
  background-color: #fff;
  min-height: 100%; }
