*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html {
  min-height: 100vh; }

body {
  width: 100%;
  min-height: 100%;
  overflow-y: scroll; }

.centered {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.active {
  border-bottom: 1px solid black; }

.home-page .image-div {
  width: 100%;
  margin-top: 35px;
  box-shadow: 0px -5px 40px -2px rgba(0, 0, 0, 0.75);
  overflow: hidden;
  transition: all 250ms ease-in-out; }

.home-page .image-div:hover img {
  -webkit-transform: scale(1.2) rotate(7deg);
          transform: scale(1.2) rotate(7deg); }

.home-page .image-div img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 250ms ease-in-out; }

.nav-icon {
  width: 28px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  opacity: 0.65;
  transition: 150ms -webkit-transform ease-in-out;
  transition: 150ms transform ease-in-out;
  transition: 150ms transform ease-in-out, 150ms -webkit-transform ease-in-out; }
  .nav-icon:hover {
    opacity: 1;
    cursor: pointer;
    -webkit-transform: translateY(-50%) scale(1.1);
            transform: translateY(-50%) scale(1.1);
    transition: 150ms -webkit-transform ease-in-out;
    transition: 150ms transform ease-in-out;
    transition: 150ms transform ease-in-out, 150ms -webkit-transform ease-in-out; }

.nav-icon:nth-of-type(1) {
  right: 5%; }

.nav-icon:nth-of-type(2) {
  right: calc(50% - 14px); }

.nav-icon:nth-of-type(3) {
  left: 5%; }

.icons-container {
  width: 200px;
  height: 50px;
  position: absolute;
  top: 50%;
  right: 10%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%); }

@media (max-width: 62em) {
  .icons-container {
    display: none; } }

.hero-main {
  padding-bottom: 50px; }
  .hero-main .card-img-top {
    width: 100%;
    height: 150px;
    -o-object-fit: cover;
       object-fit: cover;
    overflow: overlay; }
  .hero-main .hero-link:hover {
    cursor: pointer; }
  .hero-main .hero-link[disabled]:hover {
    cursor: default; }
  .hero-main .col-sm .card {
    width: 18rem;
    display: block;
    margin-left: auto;
    margin-right: auto; }
  @media (max-width: 768px) {
    .hero-main .col-sm .card {
      width: 100%; } }

.content-page3 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  opacity: 0;
  -webkit-animation: animation-page3 1.0s forwards;
          animation: animation-page3 1.0s forwards; }

@-webkit-keyframes animation-page3 {
  0% {
    opacity: 0; }
  15% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes animation-page3 {
  0% {
    opacity: 0; }
  15% {
    opacity: 0; }
  100% {
    opacity: 1; } }
  .content-page3 .fixed-top {
    border-bottom: rgba(255, 255, 255, 0.212) 1px solid; }
  .content-page3 .carousel-item {
    height: 100vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    background-size: cover; }
  .content-page3 .carousel-caption {
    bottom: 590px; }
  .content-page3 .carousel-caption h5 {
    font-size: 45px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 25px;
    opacity: 0;
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
    -webkit-animation: animation-h5 1s forwards;
            animation: animation-h5 1s forwards;
    -webkit-animation-delay: 250ms;
            animation-delay: 250ms; }

@-webkit-keyframes animation-h5 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
            transform: translateX(100px); }
  25% {
    opacity: 0;
    -webkit-transform: translateX(100px);
            transform: translateX(100px); }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px); } }

@keyframes animation-h5 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
            transform: translateX(100px); }
  25% {
    opacity: 0;
    -webkit-transform: translateX(100px);
            transform: translateX(100px); }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px); } }
  .content-page3 .carousel-caption p {
    width: 75%;
    margin: 25px auto;
    font-size: 18px;
    line-height: 1.9;
    opacity: 0;
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
    -webkit-animation: animation-p 1s forwards;
            animation: animation-p 1s forwards;
    -webkit-animation-delay: 250ms;
            animation-delay: 250ms; }

@-webkit-keyframes animation-p {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px); }
  25% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px); }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px); } }

@keyframes animation-p {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px); }
  25% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px); }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px); } }
  .content-page3 .btn {
    width: 200px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    letter-spacing: 3px;
    opacity: 0;
    -webkit-animation: animation-btn 1s forwards;
            animation: animation-btn 1s forwards;
    -webkit-animation-delay: 350ms;
            animation-delay: 350ms; }

@-webkit-keyframes animation-btn {
  0% {
    opacity: 0; }
  25% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes animation-btn {
  0% {
    opacity: 0; }
  25% {
    opacity: 0; }
  100% {
    opacity: 1; } }
  .content-page3 .navbar-light .navbar-brand {
    color: #fff;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px; }
  .content-page3 .navbar-light .navbar-brand:hover {
    color: grey; }
  .content-page3 .navbar-light .navbar-brand:focus {
    color: white; }
  .content-page3 .navbar-light .navbar-nav .active > .nav-link, .content-page3 .navbar-light .navbar-nav .nav-link.active, .content-page3 .navbar-light .navbar-nav .nav-link.show, .content-page3 .navbar-light .navbar-nav .show > .nav-link {
    color: white; }
  .content-page3 .navbar-light .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.6); }
  .content-page3 .navbar-light .navbar-nav .nav-link:focus {
    color: white; }
  .content-page3 .navbar-light .navbar-nav .nav-link:hover {
    color: grey; }

.heropage2 {
  background: black; }
  .heropage2 .gif-container {
    width: 90%;
    margin: 0 auto; }
    .heropage2 .gif-container .gif {
      width: 100%; }

.about-page ul {
  margin: 25px auto; }

.about-page li {
  list-style: none;
  font-weight: 700; }
