*, *::before, *::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0
}  

html { overflow-y: scroll; }
body{
 
    // font-size: 16px;
    background-color: #fff;
    height: 100%;
}



.centered{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.active{
  border-bottom: 1px solid black;
}

