.nav-icon{
  width: 28px;
  position: absolute;
  top: 50%; 
  transform: translateY(-50%);
  animation: github-animation 1000ms infinite;
  opacity: 0.65;

  &:hover{
    opacity: 1;
    cursor: pointer;
  }
}
.nav-icon:nth-of-type(1){
  right: 5%;
  animation-delay: 250ms;
}
.nav-icon:nth-of-type(2){
  right: calc(50% - 14px);
  animation-delay: 500ms;
}
.nav-icon:nth-of-type(3){
  left: 5%;
  animation-delay: 750ms;

}

@keyframes github-animation{
  0%{
    transform: translateY(-50%);
  }
  25%{
    transform: translateY(-40%);
  }
  50%{
    transform: translateY(-50%);
  }
  75%{
    transform: translateY(-60%);
  }
  100%{
    transform: translateY(-50%);
  }
}

.icons-container{
  width: 200px;
  height: 50px;
  position: absolute;
  top: 50%; 
  right: 10%;
  transform: translateY(-50%);
}

@media(max-width: 990px){
 
  .icons-container{
   display: none;
  }
}